<div class="column">
    <app-panel-top></app-panel-top>
    <div class="row">
        <app-menu></app-menu>
        <div class="content">
            <button (click)="this.mainService.getSensorData()"
                (click)="toggleLive();">{{live?'LIVE ON':'LIVE OFF'}}</button>

            <ng-container *ngIf="sensorData">
                <table>
                    <thead>
                        <tr>
                            <th>L.P.</th>
                            <th>id</th>
                            <th>name</th>
                            <th>name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sensorDataElement of sensorData; let i = index;">
                            <td>{{i+1}}</td>
                            <td>{{sensorDataElement.id}}</td>
                            <td>{{sensorDataElement.sensorName}}</td>
                            <td>{{sensorDataElement.sensorValue}}</td>
                        </tr>
                    </tbody>

                </table>
            </ng-container>
        </div>
    </div>
</div>