@import "assets/styles/buttons.scss";

body,
html {
    margin: 0px;
    padding: 0px;
}
h1,
h2,
h3,
h4,
h5 {
    margin: 0px;
}
.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}

.align{
    &-i-center{
        align-items: center;
    }
}
.justify{
    &-center{
        justify-content: center;
    }
}

.thumbnail{
    &-small{
        width: 50px;
    }
}